@font-face{
    src: url(fonts/basis33.ttf);
    font-family: basis;
}
body {
    background-color: #5CDB95;
    font-family: basis;
}
a {
    text-decoration: none;
    color: #05386B;
}
#container {
    background-color: #379683;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header  {
    background-color: #8EE4AF;
    color: #05386B;
    text-align: center;
    
}
h1, h2, h3{
    margin: 0;
}
#content {
    width: 320px;
    float: left;
}

#content .selected {
    font-weight: bold;
}
#content ul {
    list-style-type: none;
    padding: 0px;
}
#about {
    width: 600;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: #EDF5E1;
    color: #05386B;
    text-align: right;
}