@font-face{
    src: url(fonts/basis33.ttf);
    font-family: basis;
}
body {
    background-color: #5CDB95;
    font-family: basis;
}
a {
    text-decoration: none;
    color: #05386B;
}
#container {
    background-color: #379683;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
button {
    font-family: basis;
    background-color: #05386B;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

#header  {
    background-color: #8EE4AF;
    color: #05386B;
    text-align: center;
    
}

h1, h2, h3, h4{
    margin-left: 10px;
    margin-right: 10px;
}
p {
    margin 10px;
}
#content {
    width: 320px;
    float: left;
}

#content .selected {
    font-weight: bold;
}
#content ul {
    list-style-type: none;
    padding: 10px;
    background-color: #379683;
}

#about {
    width: 600;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: #EDF5E1;
    color: #05386B;
    text-align: right;
}