body {
    background-color: #5CDB95;
}
#container {
    background-color: #379683;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header  {
    background-color: #8EE4AF;
    color: #05386B;
    text-align: center;
    
}
#content {
    width: 320px;
    float: left;
}
#about {
    width: 600;
    float: right;
}
#footer {
    clear: both;
}